@import '../../assets/styles/theme.scss';
.user-transactions {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    .transaction {
        display: flex;
        grid-gap: 16px;
        justify-content: space-between;
        .transaction-sender {            
            display: flex;
            grid-gap: 16px;
            align-items: center;
            .avatar {
                &:hover {                    
                    opacity: 0.7;
                }
            }
        }
    }    
    .comment {
        border-top: 1px solid $tertiary;
        margin-top: 12px;
        padding-top: 16px;
    }
}